<html>
    <head>
        <title>Test Script for Fibonacci Numbers calculator</title>
    </head>
    <body>
        <h1>Tests for Fibonacci Numbers calculator</h1>
        <p>Here are some inputs to the Fibonacci calculator to try:
            <ul>
                <li><a href="/fib/0">Ask for 0 Fibonacci numbers</a>
                <li><a href="/fib/1">Only 1 Fibonacci number</a>
                <li><a href="/fib/2">Only 2 Fibonacci numbers</a>
                <li><a href="/fib/2e3">Try scientific notation</a>
                <li><a href="/fib/3e7">Try a really large number</a>
                <li><a href="/fib/-9">Try a negative number</a>
                <li><a href="/fib/foo">Try a word</a>
            </ul>
        </p>
    </body>
</html>