<html>
    <head>
        <title>Usage for Fibonacci app</title>
    </head>
    <body>
        <h1>How to use the Fibonacci web app</h1>
        <p><font size="3" color="red">{{ msg }}</font></p>
        <p>Hello and welcome to this web app, which calculates a series of Fibonacci numbers.</p>
        <p>To use the app, just add the number of Fibonacci numbers you want to calculate to the end of the above url. <br>
        i.e.:  &lt;domain&gt;/fib/&lt;num&gt;</p>
        <p>where "&lt;domain&gt;" is the domain and "&lt;num&gt;" is the number of Fibonacci numbers you want to see.</p>
        <br>
        <pr>Here are some examples:
            <ul>
                <li><a href="/fib/5">First 5 Fibonacci numbers</a>
                <li><a href="/fib/20">First 20 Fibonacci numbers</a>
                <li><a href="/fib/100">First 100 Fibonacci numbers</a>
                <li><a href="/fib/2e6">First 2x10<sup>6</sup> Fibonacci numbers</a>
            </ul>
        </p>
        <p>If you're interested in some other test cases, some are
            <a href="../test_script.html">listed here</a>.</p>
        <br>
        <p>Enjoy!</p>
    </body>
</html>